<div align="center">
    <h1><%=t :reset_password %> </h1>
        
    <%= form_tag(reset_password_users_path, :method => :get) do %>
        <div class="field">
            <%= label :mail, t(:mail) %><br />
            <%= text_field_tag :mail %>
        </div>        
        <div class="actions">
            <%= submit_tag t(:reset_password) %>
        </div>    
        <div>
            <%= notice %>
        </div>            
    <% end %>
</div>