<table class="discussion">
	<% @discussions.each do |discu| %>
	<tr valign="top" style="border-bottom: 1px solid #ED6347;">
		<td width="90%">
		<br />
		<h3><%= link_to discu.title, '#discussions', :onclick => "show_hide_comments('discu"+discu.id.to_s+"')" %></h3>
		<div id=<%= 'discu'+discu.id.to_s %> style="display: none;">
			
			<div class="portlet box">
				<div class="portlet-body">
					<div class="chat-scroller">
						<ul class="chats">
							<% discu.comments.each do |comment| %>
								<% if comment.user == current_user %>
									<li class="in">
								<% else %>
									<li class="out">
								<% end %>
									<img src=<%= comment.user.get_image %> class="avatar img-responsive" />
									<div class="message">
										<span class="chat-arrow"></span><a href="#" class="chat-name"><%= comment.user.surname + ':'%></a>&nbsp;<span
										class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body"><%= comment.text %></span>
									</div>
									<br />
									<% if can? :ud, comment %>
									<%= link_to image_tag('/images/edit_button.png'), edit_comment_path(comment),:rel => 'facebox', :title=>t(:Edit) %>
									<%= link_to image_tag('/images/delete_button2.png'), delete_comment_path(comment), {:title=>t(:Delete), :onclick => "return confirm('"+t(:sure_to_delete)+"')", :method => :delete, :remote => true} %>
									<%end%>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
				
		</div></td>
		<td >
		<p>
			<% if current_user %>
			<%= link_to image_tag('/images/comment_button.png'), new_comment_path(:discussion => discu), :rel => 'facebox', :title=>t(:comment) %>
			<% if can? :ud, discu %>
			<%= link_to image_tag('/images/edit_button.png'), edit_discussion_path(discu), :rel => 'facebox', :title=>t(:Edit) %>
			<%= link_to image_tag('/images/delete_button2.png'), delete_discussion_path(discu), {:title=>t(:Delete), :onclick => "return confirm('"+t(:sure_to_delete)+"')", :method => :delete, :remote => true} %>
			<br />
			<%end%>
			<% end %>
		</p></td>
	</tr>
	<%end%>
</table>
<br />

<div style="font-size: 15px;">
	<% if @num_pages != '1' %>
	<% ('1'..@num_pages).to_a.each do |page| %>
	<%= link_to page, '#forum', :onclick => "load_discussions('"+@language.name+"', '"+ page + "')" %> -
	<%end%>
	<% end %>
</div>

<script type="text/javascript" >
	jQuery(document).ready(function($) {
		$('a[rel*=facebox]').facebox({
			loadingImage : '/images/loading.gif',
			closeImage : '/images/closelabel.png'
		})
	});

	function show_hide_comments(id) {
		var e = document.getElementById(id);
		if (e.style.display == 'block')
			e.style.display = 'none';
		else
			e.style.display = 'block';
	};
</script>
