<h1>Listing anglais</h1>

<table>
  <tr>
    <th>Mot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anglais.each do |anglai| %>
  <tr>
    <td><%= anglai.mot %></td>
    <td><%= link_to 'Show', anglai %></td>
    <td><%= link_to 'Edit', edit_anglai_path(anglai) %></td>
    <td><%= link_to 'Destroy', anglai, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anglai', new_anglai_path %>
