
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<% if @type == 'profile_info' %>
	<%= form_for(@user) do |f| %>
		<% if current_user.hashed_password? %>
		  <div class="default_fields">
		    <%= f.label :name, t(:full_name)%>
		    <%= f.text_field :name %>
		  </div>
		  <br />
		  <div class="default_fields">
		    <%= f.label :username, t(:username)%>
		    <%= f.text_field :username %>
		  </div>
		  <br />
		  <div class="default_fields">
		    <%= f.label :mail, t(:email_address)%>
		    <%= f.text_field :mail %>
		  </div>
		  <br />
		<% else %>
			<div class="default_fields" style="display: none;>
			    <%= f.label :name, t(:full_name)%>
			    <%= f.text_field :name, :value => current_user.name %>
			</div>
			<div class="default_fields">
			    <%= f.label :username, t(:username)%>
			    <%= f.text_field :username %>
			</div>
			<br />
			<div class="default_fields" style="display: none;>
			    <%= f.label :mail, t(:email_address)%>
			    <%= f.text_field :mail, :value => current_user.mail %>
			</div>
		<% end %>
	  <div class="actions">
	    <%= f.submit t(:OK), :class=>"default_button"%>
	  </div>
  	<% end %>
<% end %>
  
<% if @type == 'password' %>
	<%= form_for(@user, :url => {:action => "update_password"}) do |f| %>
  	  <div class="default_fields">
	    <%= f.label :old_password, t(:old_password) %>
	    <%= f.password_field :old_password %>
	  </div>
	  <br />
  	  <div class="default_fields">
	    <%= f.label :new_password, t(:new_password) %>
	    <%= f.password_field :new_password %>
	  </div>
	  <br />
	  <div class="default_fields">
	    <%= f.label :password_confirmation, t(:password_confirmation) %>
	    <%= f.password_field :password_confirmation %>
	  </div>
	  <br />
	  <div class="actions">
	    <%= f.submit t(:OK), :class=>"default_button"%>
	  </div>
  <% end %>
<% end %>
