<h1>Listing francais</h1>

<table>
  <tr>
    <th>Mot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @francais.each do |francai| %>
  <tr>
    <td><%= francai.mot %></td>
    <td><%= link_to 'Show', francai %></td>
    <td><%= link_to 'Edit', edit_francai_path(francai) %></td>
    <td><%= link_to 'Destroy', francai, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Francai', new_francai_path %>
