<p id="notice"><%= notice %></p>

<p>
  <b>Francais:</b>
  <%= @mot.francais %>
</p>

<p>
  <b>Commentaire:</b>
  <%= @mot.commentaire %>
</p>

<p>
  <b>Anglais:</b>
  <%= @mot.anglais %>
</p>

<p>
  <b>Patois:</b>
  <%= @mot.patois %>
</p>


<%= link_to 'Edit', edit_mot_path(@mot) %> |
<%= link_to 'Back', mots_path %>
