<%= form_for(@expression) do |f| %>
  <% if @expression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expression.errors.count, "error") %> prohibited this expression from being saved:</h2>

      <ul>
      <% @expression.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="default_fields">
    <%= f.label :french, t(:french) %>
    <%= f.text_area :french, :cols => "50", :rows => "3" %>
  </div>
  <br />
  <div class="default_fields" style="display: none;">
    <%= f.label :english, t(:english) %>
    <%= f.text_area :english, :cols => "50", :rows => "3" %>
  </div>

  <div class="default_fields">
    <%= f.label :trans, t(:translation) %>
    <%= f.text_area :trans, :cols => "50", :rows => "3" %>
  </div>
  <br />
  <div class="default_fields" style="display: none;">
    <%= f.label :language_id %>
    <%= f.text_field :language_id, :value => @language %>
  </div>

  <div class="default_fields" style="display: none;">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, :value => (@expression.user_id || current_user.id)  %>
  </div>

  <div class="actions">
    <%= f.submit t(:OK), :class=>"default_button"%>
  </div>
<% end %>
