<h1>Listing expressions</h1>

<table>
  <tr>
    <th>French</th>
    <th>English</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expressions.each do |expression| %>
  <tr>
    <td><%= expression.french %></td>
    <td><%= expression.english %></td>
    <td><%= link_to 'Show', expression %></td>
    <td><%= link_to 'Edit', edit_expression_path(expression) %></td>
    <td><%= link_to 'Destroy', expression, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expression', new_expression_path %>
