<h1>Listing langues</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Desctiption</th>
    <th>Origine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @langues.each do |langue| %>
  <tr>
    <td><%= langue.nome %></td>
    <td><%= langue.desctiption %></td>
    <td><%= langue.origine %></td>
    <td><%= link_to 'Show', langue %></td>
    <td><%= link_to 'Edit', edit_langue_path(langue) %></td>
    <td><%= link_to 'Destroy', langue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Langue', new_langue_path %>
