<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @langue.nome %>
</p>

<p>
  <b>Desctiption:</b>
  <%= @langue.desctiption %>
</p>

<p>
  <b>Origine:</b>
  <%= @langue.origine %>
</p>


<%= link_to 'Edit', edit_langue_path(@langue) %> |
<%= link_to 'Back', langues_path %>
