<!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href=<%= root_url %> class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">MonPatois</span></a>
                </div>
            <div class="topbar-main">
                
                
                <%= form_tag "/search", method: :get, :class =>"hidden-sm hidden-xs", :id=>"topbar-search" do %>
                	<div class="input-icon right text-white"><i class="fa fa-search"></i>
					  <%= text_field :search_string, :attr, :type=>'text', :class=>"form-control text-white", :placeholder => t(:search) %>
					  </div>
					<% end %>
                                            
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                <% if session[:user_id].nil? %>
                	<li><span class="icon"><i class="fa fa-sign-in"></i></span><span class="icon_title"><%= t(:login_with) %></span></li>
                    <li><a href="/auth/facebook" class="social_box fb"><span class="icon"><i class="fa fa-facebook"></i></span><span class="icon_title"><%= t(:facebook) %></span></a></li>                    
                    <li><a href="/auth/google" class="social_box google"><span class="icon"><i class="fa fa-google-plus"></i></span><span class="icon_title"><%= t(:google) %></span></a></li>
                    <li><a href="/auth/twitter" class="social_box twitter"><span class="icon"><i class="fa fa-twitter"></i></span><span class="icon_title"><%= t(:twitter) %></span></a></li>                    
                    <li><a href="/login_form" id="login_form" rel="facebox"><span class="icon"><i class="fa fa-envelope"></i></span><span class="icon_title"><%= t(:email) %></span></a></li>
                    <li><a href="/register_form" id="register_form" rel="facebox"><span class="icon"><i class="fa fa-pencil"></i></span><span class="icon_title"><%= t(:sign_up) %></span></a></li>         
                <% else %>
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src=<%= current_user.get_image %> alt="" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs"><%= t(:welcome)+ " " + current_user.name %></span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                        	<% if can? :show, current_user %><li><a href=<%= edit_user_path(current_user.id, :type=>'profile_info') %> rel="facebox"><i class="fa fa-user"></i><%= t(:change_profile) %></a></li><% end %>
                        	<% if current_user.hashed_password? %><li><a href=<%= edit_user_path(current_user.id, :type=>'password') %> rel="facebox"><i class="fa fa-lock"></i><%= t(:change_password) %></a></li><% end %>
                        	<li><a href="/invite_friend_form" rel="facebox"><i class="fa fa-users"></i><%= t(:invite_friend) %></a></li>
                        	<li><a href=<%= logout_path %>><i class="fa fa-sign-out"></i><%= t(:logout) %></a></li>
                        </ul>                        
                    </li>
                    <li id="topbar-chat" class="hidden-xs"><a href="javascript:void(0)" data-step="4" data-intro="&lt;b&gt;Form chat&lt;/b&gt; keep you connecting with other coworker" data-position="left" class="btn-chat"><i class="fa fa-bell"></i><span class="badge badge-info">0</span></a></li>
                <% end %>
                </ul>
            </div>
        </nav>            
        </div>
        <!--END TOPBAR-->

<script type="text/javascript">

$( "#reset_button" ).click(function() {
	var email = $('#resmail').val();
	var reset_url = $('#reset_button').attr('reset_url');
	jQuery.ajax({ 
		        	url: reset_url, 
		        	type: 'POST', 
		        	data: { 'mail' : email},
		        	dataType: 'html',
		        	success: function(data) { 
		        		if (data.split(';')[0] == 'error'){
		        			alert(data.split(';')[1]);
		        		}
		        		else{
		        			alert(data);
		        			window.location.reload(true);
		        		}
		        		  },
		        	beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},		    				
    				});
});

	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".password_reset").hide();
			$(".user_login").show();
			$(".header_title").text('Login');
			return false;
		});
		
		// Calling Reset Password Form
		$("#reset_password_form").click(function(){
			$(".user_login").hide();
			$(".password_reset").show();
			$(".header_title").text('Reset Password');
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".password_reset").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});
		

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".password_reset").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	});

  jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox({loadingImage : '/images/loading.gif', closeImage   : '/images/closelabel.png'}) 
	});
	
	function search(){
		var tosearch = $('#searchbox').val();
		jQuery.ajax({ 
		        	url: "/search", 
		        	type: 'GET', 
		        	data: { 'string' : tosearch},
		        	dataType: 'html',
		        	success: function(data) { 
		        		  },
		        	beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},		    				
    				});
	};

		$("form#topbar-searches").submit(function(){
			var tosearch = $('#searchbox').val();
			jQuery.ajax({ 
			        	url: "/search", 
			        	type: 'GET', 
			        	data: { 'string' : tosearch},
			        	dataType: 'html',
			        	success: function(data) { 
			        		  },
			        	beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},		    				
	    				});
		});
</script>