<div id="banner">
	<link rel="shortcut icon" href="/images/logo.jpg"/>
	<br />
	<img src="/images/banner_image.jpg" />
	<!--h1 align="center" style="font-size: 25px;"> Ne laisse pas s'éclipser ton dialecte...</h1-->
	 
	<div class="logout">
	    <% if session[:user_id].nil? %>
		    <div class="container">
				<a id="modal_trigger" href="#modal" class="login_button"><%= t(:click_here_to_login_or_register)%></a>
			
				<div id="modal" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title"><%= t(:login)%></span>
						<span class="modal_close"><i class="fa fa-times"></i></span>
					</header>
					
					<section class="popupBody">
						<!-- Social Login -->
						<div class="social_login">
							<div class="">
								<a href="/auth/facebook" class="social_box fb">
									<span class="icon"><i class="fa fa-facebook"></i></span>
									<span class="icon_title"><%= t(:connect_with_facebook) %></span>
									
								</a>
			
								<a href="/auth/google" class="social_box google">
									<span class="icon"><i class="fa fa-google-plus"></i></span>
									<span class="icon_title"><%= t(:connect_with_google) %></span>
								</a>
								
								<a href="/auth/twitter" class="social_box twitter">
									<span class="icon"><i class="fa fa-twitter"></i></span>
									<span class="icon_title"><%= t(:connect_with_twitter) %></span>
								</a>
							</div>
			
							<div class="centeredText">
								<span><%= t(:or_use_email)%></span>
							</div>
			
							<div class="action_btns">
								<div class="one_half"><a href="#" id="login_form" class="btn"><%= t(:login)%></a></div>
								<div class="one_half last"><a href="#" id="register_form" class="btn"><%= t(:sign_up)%></a></div>
							</div>
						</div>
			
						<!-- Username & Password Login form -->
						<div class="user_login">
							<form>								
		
								<label><%= t(:email_address)%></label>
								<input type="text" id="logmail" />
								<br />
			
								<label><%= t(:password)%></label>
								<input type="password" id="logpassword"/>
								<br />
			
								<div class="action_btns">
									<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> <%= t(:Back)%></a></div>
									<div class="one_half last"><a href="#" id="login_button" login_url=<%= root_url+'/create_session' %> class="btn btn_red"><%= t(:login)%></a></div>
								</div>
							</form>
			
							<a href="#" id="reset_password_form" class="forgot_password"><%= t(:forgot_password)%></a>
						</div>
						
						
						<!-- Password Reset form -->
						<div class="password_reset">
							<form>								
		
								<label><%= t(:email_address)%></label>
								<input type="text" id="resmail" />
								<br />										
			
								<div class="action_btns">
									<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> <%= t(:Back)%></a></div>
									<div class="one_half last"><a href="#" id="reset_button" reset_url=<%= root_url+'/reset_password' %> class="btn btn_red"><%= t(:reset)%></a></div>
								</div>
							</form>			
						</div>
						
			
						<!-- Register Form -->
						<div class="user_register">
							<form>
								<label><%= t(:full_name)%></label>
								<input type="text" id="name"/>
								<br />
								
								<label><%= t(:username)%></label>
								<input type="text" id="username"/>
								<br />
			
								<label><%= t(:email_address)%></label>
								<input type="email" id="regmail"/>
								<br />
			
								<label><%= t(:password)%></label>
								<input type="password" id="regpassword"/>
								<br />
								
								<label><%= t(:password_again)%></label>
								<input type="password" id="password_confirm"/>
								<br />
			
								<!--div class="checkbox">
									<input id="send_updates" type="checkbox" />
									<label for="send_updates">Send me occasional email updates</label>
								</div-->
			
								<div class="action_btns">
									<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> <%= t(:Back)%></a></div>
									<div class="one_half last"><a href="#" id="register_button" register_url=<%= root_url+'/create_user' %> class="btn btn_red"><%= t(:sign_up)%></a></div>
								</div>
							</form>
						</div>
					</section>
				</div>
			</div>	
		<%else%>
		
		<!-- dropdown container -->
		<div class="dropdown">
		
		    <!-- trigger button -->
		    <button><%= t(:welcome)+ " " + current_user.name %></button>
		
		    <!-- dropdown menu -->
		    <ul class="dropdown-menu">
		        <li><%= link_to t(:change_profile), edit_user_path(current_user.id, :type=>'profile_info'), :rel=>"facebox" if can? :read, current_user %></li>
		        <li><%= link_to t(:change_password), edit_user_path(current_user.id, :type=>'password'), :rel=>"facebox" if current_user.hashed_password? %></li>
		        <li><%= link_to t(:logout), logout_path %></li>
		    </ul>
		</div>
							
	    <% end %>    	    	    	    	    	    	    	    	    	    		    
    </div>
</div>

<script type="text/javascript">

$( "#login_button" ).click(function() {
	var email = $('#logmail').val();
	var login_url = $('#login_button').attr('login_url');
	var password = $('#logpassword').val();
	jQuery.ajax({ 
		        	url: login_url, 
		        	type: 'POST', 
		        	data: { 'mail' : email, 'password' : password},
		        	dataType: 'html',
		        	success: function(data) { 
		        		if (data.split(';')[0] == 'error'){
		        			alert(data.split(';')[1]);
		        		}
		        		else{
		        			window.location.reload(true);
		        		}
		        		  },
		        	beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},		    				
    				});
});

$( "#reset_button" ).click(function() {
	var email = $('#resmail').val();
	var reset_url = $('#reset_button').attr('reset_url');
	jQuery.ajax({ 
		        	url: reset_url, 
		        	type: 'POST', 
		        	data: { 'mail' : email},
		        	dataType: 'html',
		        	success: function() { window.location.reload(true); },
		        	beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},		    				
    				});
});


$( "#register_button" ).click(function() {
	var email = $('#regmail').val();
	var name = $('#name').val();
	var username = $('#username').val();
	var register_url = $('#register_button').attr('register_url');
	var password = $('#regpassword').val();
	var password_confirm = $('#password_confirm').val();
	jQuery.ajax({ 
		        	url: register_url, 
		        	type: 'POST', 
		        	data: { 'user' : { 'password': password,
		        						'password_confirmation': password_confirm,
		        						'name': name,
		        						'username': username,
		        						'mail': email}
		        			},
		        	dataType: 'html',
		        	success: function(data) { 
		        		if (data.split(';')[0] == 'error'){
		        			alert(data.split(';')[1]);
		        		}
		        		else{
		        			alert(data);
		        			window.location.reload(true);
		        		}
		        		  },
		        	beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},		    				
    				});
});


	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".password_reset").hide();
			$(".user_login").show();
			return false;
		});
		
		// Calling Reset Password Form
		$("#reset_password_form").click(function(){
			$(".user_login").hide();
			$(".password_reset").show();
			$(".header_title").text('Reset Password');
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".password_reset").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".password_reset").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	});

  jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox({loadingImage : '/images/loading.gif', closeImage   : '/images/closelabel.png'}) 
	});
</script>